.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-box {
height: 85vh;       
  width: 85vw; 
  background: #808080;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  min-width: 300px;
}